.button{
    padding-right: 15px;
    padding-left: 15px;
}
.editarEliminar{
    display: flex;
    justify-content: space-evenly;
}
.buttonAdd , .h2{
    margin-left: 20px;
    display: block;
    text-align: center;
}