<div class="container">
    <h1 class="h2">Gestion de ordenes de compra</h1>
    <button routerLink="/agregar-orden-compra"
        class="buttonAdd btn btn-primary buttonAgregar"> Agregar orden de
        compra</button>
    <br>
    <div class="card">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>N° Orden</th>
                    <th>Fecha de entrega</th>
                    <th>Dirección</th>
                    <th>Proveedor</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngFor="let orden of ordenDeCompra2; index as i">
                <tr>
                    <td>{{ orden.id }}</td>
                    <td>{{ orden.fechaEntrega }}</td>
                    <td>{{ orden.direccion }}</td>
                    <td>{{ orden.proveedor }}</td>
                    <td>{{ orden.producto }}</td>
                    <td>{{ orden.cantidad }}</td>
                    <td>${{ orden.total }}</td>
                    <td class="editarEliminar">
                        <button
                            class="btn button btn-warning"
                            [routerLink]="['/editar-orden-compra', orden.id]"><i
                                class="bi bi-pencil-fill"></i></button>
                        <button
                            class="btn button btn-danger"
                            (click)="eliminar(orden)"><i
                                class="bi bi-trash3-fill"></i></button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div *ngIf="existenOrdenes" class="alert alert-primary" role="alert">
        No hay ordenes creadas, por favor agregue una.
    </div>
</div>