
<div class="container">
    <h1 class="h2">Agregar una orden de compra</h1>
    <button routerLink="/orden-compra"
        class="buttonAdd btn btn-primary buttonAgregar">Volver</button>
    <br>
    <form #myForm="ngForm" (ngSubmit)="enviar(myForm)">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Fecha De Emision</label>
                    <input type="text"
                        class="form-control"
                        id="fechaEnvio"
                        disabled
                        value="{{fechaEnvio| date }}"
                        placeholder="Fecha de Envio">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Fecha De Entrega</label>
                    <input type="date"
                        class="form-control"
                        id="fechaEntrega"
                        name="fechaEntrega"
                        [(ngModel)]="fechaEntrega"
                        placeholder="Fecha De Entrega">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="exampleInputEmail1">Proveedor</label>
                    <select type="text"
                        class="form-control custom-select"
                        id="proveedor"
                        name="proveedor"
                        placeholder="Proveedor"
                        [(ngModel)]="proveedor"
                        (ngModelChange)="proveedorChange($event)">
                        <option value disabled>Seleccione un proveedor</option>
                        <option value={{item.nombreProveedor}}
                            *ngFor="let item of listadoProveedores">{{item.nombreProveedor}}</option>
                    </select>
                    <div class="logo">

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="exampleInputEmail1">Informacion de
                        recepción. Ubicación y dirección</label>
                    <textarea
                        id="w3review"
                        name="w3review"
                        rows="4"
                        cols="75%"
                        placeholder="Ingrese su ubicación y direccion"
                        [(ngModel)]="informacionRecepcion">
                        
                    </textarea>
                </div>
            </div>

        </div>
        <br>
        <br><hr>
        <div class="row m-5">
            <div class="col">
                <select type="text"
                    class="form-control custom-select"
                    id="producto"
                    name="producto"
                    required
                    [(ngModel)]="producto"
                    placeholder="Producto">
                    <option value disabled>Seleccione un producto</option>
                    <option value={{item.nombreProducto}}
                        *ngFor="let item of listadoProductos">{{item.nombreProducto}}</option>
                </select>

            </div>
            <div class="col">
                <input type="text"
                    class="form-control"
                    id="cantidad"
                    name="cantidad"
                    [(ngModel)]="cantidad"
                    placeholder="Cantidad">
            </div>
            <div class="col text-center">
                <button type="button" (click)="AgregarProducto()"
                    class="btn btn-success">Agregar</button>
                <button type="button" (click)="eliminarProducto()"
                    class="btn btn-danger">Limpiar</button>
            </div><br><br><br>
            <table class="table table-hover">

                <thead>
                    <tr>
                        <th>Codigo sku</th>
                        <th>Nombre de producto</th>
                        <th>Cantidad</th>
                        <th>Precio/unidad</th>
                        <th>Precio Total</th>
                    </tr>
                </thead>

                <tbody *ngFor="let prod of listProductTable; index as i">
                    <tr>
                        <td>{{prod.codigoSKU}}</td>
                        <td>{{prod.nombreProducto}}</td>
                        <td>{{arrayCantidad[i]}}</td>
                        <td>${{prod.precio}}</td>
                        <td>${{arrayCantidad[i]*prod.precio}}</td>
                    </tr>

                </tbody>

            </table>
            <div *ngIf="noContieneProductos"
                class="alert alert-primary text-center"
                role="alert">
                No hay productos en la orden. Por favor, agrege uno.
            </div>
        </div>
        <br>
        <br><hr>
        <div class="input-group col-md-8">
            <button type="submit"
                class="btn btn-outline-primary mr-2">
                Enviar
            </button>
            <button type="button"
                class="btn btn-outline-danger"
                (click)="limpiar()">
                Limpiar
            </button>
        </div>
        <!-- Otros campos del formulario -->
    </form>
</div>