<div class="container">
    <h1 class="h2">Gestión de productos</h1>
    <button routerLink="/agregar-producto"
        class="buttonAdd btn btn-primary buttonAgregar">Agregar
        productos</button>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Producto</th>
                <th>Categoría</th>
                <th>Proveedor</th>
                <th>Razon Sociál</th>
                <th>Precio</th>
                <th> </th>
            </tr>
        </thead>
        <tbody *ngFor="let product of productos; index as i">
            <tr>
                <td>
                    <img
                        src="{{product.imagen}}"
                        [alt]="product.nameProducto" width="80"
                        height="75px"
                        class="shadow-4" />
                </td>
                <td>{{ product.nameProducto }}</td>
                <td>{{ product.categoria }}</td>
                <td>{{ product.proveedor }}</td>
                <td>Razon social</td>
                <td>{{ product.precio | currency:'U$S ' }}</td>
                <td class="editarEliminar">
                    <button
                        class="btn button btn-primary"
                        [routerLink]="['/', product.id]">Ver más</button>
                    <button
                        class="btn button btn-warning"
                        [routerLink]="['/editar-producto', product.id]"><i
                            class="bi bi-pencil-fill"></i></button>
                    <button
                        class="btn button btn-danger"
                        (click)="eliminar(product)"><i
                            class="bi bi-trash3-fill"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

</div>
