<div class="container">
  <button routerLink="/productos"
    class="buttonAdd btn btn-primary buttonAgregar">Volver</button>
  <br>
  <h3 class="mt-3">Editar el: {{producto.id}}</h3>
  <hr>
  <form [formGroup]="myFormReactivo" (ngSubmit)="enviar()">
    <div class="row">
      <div class="col-6">
        <div>
          <div class="form-group row">
            <label class="col-2 col-form-label">SKU</label>
            <div class="col-8">
              <input type="text"
                class="form-control"
                id="codigoSku"
                formControlName="codigoSkuForm"
                value="{{producto.codigoSKU}}">
              <small
                *ngIf="myFormReactivo.get('codigoSkuForm')?.hasError('required')">Proveedor
                es requerido.</small>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <label class="col-2 col-form-label">Producto</label>
            <div class="col-8">
              <input type="text"
                class="form-control"
                id="nombreProducto"
                formControlName="nombreProductoForm"
                value="{{producto.nameProducto}}">
              <small
                *ngIf="myFormReactivo.get('nombreProductoForm')?.hasError('required')">Proveedor
                es requerido.</small>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <label class="col-2 col-form-label">Proveedor</label>
            <div class="col-8">

              <select type="text"
                class="form-control custom-select"
                id="proveedor"
                name="proveedorForm"
                formControlName="proveedorForm"
                value="{{producto.proveedor}}">
                <option value disabled>Seleccione una categoría</option>
                <option value={{item}}
                  *ngFor="let item of listadoNombresJoinApellido">{{item}}</option>
              </select>
              <small
                *ngIf="myFormReactivo.get('proveedorForm')?.hasError('required')">Proveedor
                es requerido.</small>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <label class="col-2 col-form-label">Categoría</label>
            <div class="col-md-8">
              <select type="text"
                class="form-control custom-select"
                id="categoria"
                name="categoriaForm"
                formControlName="categoriaForm"
                value="{{producto.categoria}}">
                <option value disabled>Seleccione una categoría</option>
                <option value={{item}}
                  *ngFor="let item of listaCategorias">{{item}}</option>
              </select>
              <small
                *ngIf="myFormReactivo.get('categoriaForm')?.hasError('required')">Proveedor
                es requerido.</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div>
          <div class="form-group row">
            <label class="col-2 col-form-label">Imagen</label>
            <div class="col-md-8">
              <input type="text"
                class="form-control"
                id="imagen"
                name="imagenForm"
                formControlName="imagenForm">
              <small
                *ngIf="myFormReactivo.get('imagenForm')?.hasError('required')">Proveedor
                es requerido.</small>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <label class="col-2 col-form-label">Descripción</label>
            <div class="col-md-8">
              <input type="text"
                class="form-control"
                id="descripcionForm"
                name="descripcionForm"
                formControlName="descripcionForm">
              <small
                *ngIf="myFormReactivo.get('descripcionForm')?.hasError('required')">Proveedor
                es requerido.</small>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <label class="col-2 col-form-label">Precio</label>
            <div class="col-md-8">
              <input type="number"
                class="form-control"
                id="precioForm"
                name="precioForm"
                formControlName="precioForm">
              <small
                *ngIf="myFormReactivo.get('precioForm')?.hasError('required')">Proveedor
                es requerido.</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-md-8">
        <button type="submit"
          class="btn btn-outline-primary mr-2">
          Enviar
        </button>
        <button *ngIf="formInvalido" type="button" disabled
          class="btn btn-outline-danger"
          (click)="limpiar()">
          Limpiar
        </button>
        <button *ngIf="!formInvalido" type="button"
          class="btn btn-outline-danger"
          (click)="limpiar()">
          Limpiar
        </button>
      </div>
      <p *ngIf="editarInvalido" class="text-danger mt-3">No se puede editar un
        producto, si no realiza ningún cambio</p>
    </div>
  </form>
</div>
