<div class="container">
    <h1 class="h2">Gestión de proveedores</h1>
    <button routerLink="/agregar-proveedor"
        class="buttonAdd btn btn-primary buttonAgregar">Agregar
        proveedor
    </button>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Razón Social</th>
                <th>Contactos</th>
                <th>Nombre</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngFor="let proveedor of proveedor; index as i">
            <tr>
                <td>{{ proveedor.codigo }}</td>
                <td>{{ proveedor.razonSocial }}</td>
                <td><li>{{ proveedor.sitioWeb }}</li>
                    <li>{{ proveedor.email }}</li>
                    <li>{{ proveedor.telefono }}</li></td>
                <td>{{ proveedor.apellido}} {{ proveedor.nombre }}</td>
                <td class="editarEliminar">
                    <button
                        class="btn button btn-warning"
                        [routerLink]="['/editar-proveedor', proveedor.id]">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button
                        class="btn button btn-danger"
                        (click)="eliminar(proveedor)">
                        <i class="bi bi-trash3-fill"></i>
                    </button>

                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="existenProveedor" class="alert alert-primary" role="alert">
        No hay proveedores creados, por favor agregue uno.
    </div>
</div>