<div class="container">
    <h1 class="h2">Editar una orden</h1>
    <button routerLink="/orden-compra"
        class="buttonAdd btn btn-primary buttonAgregar">Volver</button>
    <br>
    <form #myForm="ngForm" (ngSubmit)="enviar(myForm)">
        <div class="row">
            <div class="col">
                <input
                    type="date"
                    class="form-control"
                    id="fechaEntrega"
                    name="fechaEntrega"
                    [(ngModel)]="fechaEntrega"
                    placeholder="Fecha de Entrega">
            </div>
            <div class="col">
                <input
                    type="text"
                    class="form-control"
                    id="direccion"
                    name="direccion"
                    [(ngModel)]="direccion"
                    placeholder="Direccion">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <select type="text"
                    class="form-control custom-select"
                    id="proveedor"
                    name="proveedor"
                    [(ngModel)]="proveedor"
                    (ngModelChange)="proveedorChange($event)">
                    <option value disabled>Seleccione un proveedo</option>
                    <option
                        *ngFor="let item of listadoNombresJoinApellido"
                        value={{item}}>{{item}}</option>
                </select>
            </div>
            <div class="col">
                <select type="text"
                    class="form-control custom-select"
                    id="producto"
                    name="producto"
                    required
                    [(ngModel)]="producto"
                    placeholder="Producto">
                    <option value disabled>Seleccione un producto</option>
                    <option value={{item}}
                        *ngFor="let item of productosDisponiblesNombres">{{item}}</option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <input
                    type="number"
                    class="form-control"
                    id="cantidad"
                    name="cantidad"
                    [(ngModel)]="cantidad"
                    placeholder="Cantidad">
            </div>
            <div class="col">
                <input
                    type="number"
                    class="form-control"
                    id="total"
                    name="total"
                    [(ngModel)]="total"
                    placeholder="total">
            </div>
        </div>
        <br>

        <div class="input-group col-md-8">
            <button type="submit"
                class="btn btn-outline-primary mr-2">
                Enviar
            </button>
            <button type="button"
                class="btn btn-outline-danger"
                (click)="limpiar()">
                Limpiar
            </button>
        </div>
        <p *ngIf="editarInvalido" class="text-danger mt-3">No se puede editar un
            producto, si no realiza ningún cambio</p>
        <!-- Otros campos del formulario -->
    </form>
</div>