<div class="container">
    <ul class="nav">
        <h2>Gestiona tu comercio, facil y rapido</h2>
    </ul>
    <hr>
    <br><br>
    <h3>Registros de Productos</h3>
    <br>
    <div class="d-flex justify-content-center align-items-center">

        <div class="card border-success mb-3 m-5" style="max-width: 18rem;">
            <div class="card-header"> </div>
            <div class="card-body text-success">
                <h5 class="card-title">Dados de alta</h5>
                <p class="card-text">Some quick example text to build on the
                    card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card border-danger mb-3 m-5" style="max-width: 18rem;">
            <div class="card-header"> </div>
            <div class="card-body text-danger">
                <h5 class="card-title">Dados de baja</h5>
                <p class="card-text">Some quick example text to build on the
                    card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <div class="card border-dark mb-3 m-5" style="max-width: 18rem;">
            <div class="card-header"> </div>
            <div class="card-body text-dark">
                <h5 class="card-title">Productos activos</h5>
                <p class="card-text">Some quick example text to build on the
                    card title and make up the bulk of the card's content.</p>
            </div>
        </div>

    </div>
    <br>
    <hr>
    <h3>Registros de Proveedores</h3>
    <br>
    <div class="d-flex justify-content-center align-items-center">

        <div class="card border-success mb-3 m-5" style="max-width: 18rem;">
            <div class="card-header"></div>
            <div class="card-body text-success">
                <h5 class="card-title">Dados de alta</h5>
                <p class="card-text">Some quick example text to build on the
                    card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card border-danger mb-3 m-5" style="max-width: 18rem;">
            <div class="card-header"> </div>
            <div class="card-body text-danger">
                <h5 class="card-title">Dados de baja</h5>
                <p class="card-text">Some quick example text to build on the
                    card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <div class="card border-dark mb-3 m-5" style="max-width: 18rem;">
            <div class="card-header"></div>
            <div class="card-body text-dark">
                <h5 class="card-title">Proveedores activos</h5>
                <p class="card-text">Some quick example text to build on the
                    card title and make up the bulk of the card's content.</p>
            </div>
        </div>

    </div>
    <br>
    <hr>
    <h3>Registros de Ordenes de compra</h3>
    <br>
    <div class="d-flex justify-content-center align-items-center">

        <div class="card border-success mb-3 m-5" style="max-width: 18rem;">
            <div class="card-header"> </div>
            <div class="card-body text-success">
                <h5 class="card-title">Dadas de alta</h5>
                <p class="card-text">Some quick example text to build on the
                    card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card border-danger mb-3 m-5" style="max-width: 18rem;">
            <div class="card-header"> </div>
            <div class="card-body text-danger">
                <h5 class="card-title">Dadas de baja</h5>
                <p class="card-text">Some quick example text to build on the
                    card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <div class="card border-dark mb-3 m-5" style="max-width: 18rem;">
            <div class="card-header"></div>
            <div class="card-body text-dark">
                <h5 class="card-title">Ordenes activas</h5>
                <p class="card-text">Some quick example text to build on the
                    card title and make up the bulk of the card's content.</p>
            </div>
        </div>

    </div>
    <br><br>
</div>